/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
    color: #9e1622;
}
nav .navbar-brand .red {
    color: #520a0a;
}
nav .navbar-brand .yellow {
    color: #a53919;
}
nav .navbar-brand .green {
    color: #802721;
}

body {
    background-image: url("food.jpg");
    height: 100%;

    font-family: 'Times New Roman', Times, serif;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: white
}

a {
    color: #cf522c;
}

.btn {
    background-color: #cf522c;
    font-family: 'Times New Roman', Times, serif;
    border-color: black;
}

.btn a {
    color: white;
    text-decoration: none;
}

.welcome {
    font-family: 'Permanent Marker', cursive;
    font-size: 1150%;
    padding: 30px 0;
}

.description {
    padding: 30px 0;
}