/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #9e1622;
}
nav .navbar-brand .red
{
    color: #520a0a;
}
nav .navbar-brand .yellow
{
    color: #a53919;
}
nav .navbar-brand .green
{
    color: #802721;
}

body
{
    /* background-color: #520a0a; */
    background-image: url("pexels-photo-1640774.jpeg");
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
}