/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #85a6d3;
}
nav .navbar-brand .red
{
    color: #5cc599;
}
nav .navbar-brand .yellow
{
    color: #9cf573;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
