{% extends "layout.html" %}

{% block title %}
    Delete Favorites
{% endblock %}

{% block main %}
<form action="/delete_favorites" method="post">
    <div class="mb-3">
        <select autocomplete="off" autofocus class="form-control mx-auto w-auto" id="delete-favorites" name="delete-favorites" placeholder="Delete Favorites" type="text">
            <option disabled selected>Delete Favorites</option>
            {% for favorite in favorites %}
                <option>{{ favorite['recipe_name'] }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-primary" type="submit">🤮 Delete Recipe from Favorites 🤮</button>
</form>

{% endblock %}
