{% extends "layout.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block main %}
<div class="about">
    <p>The food website for Harvard  college students.</p>
    <p>Search for simple <a href=/recipes>recipes</a> with ingredients from your pantry.</p>
    <p>Explore students' favorite Cambridge <a href=/restaurants>restaurants</a>.</p>
    <p>Save your <a href=/favorites>favorite</a> recipes and restaurants to enjoy later.</p>
    <p>Learn about natural remedies to <a href=/wellness>health</a>.</p>
</div>

<hr>

<div class="favorite-recipe">

</div>
{% endblock %}
