{% extends "layout.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block main %}
<div>
    <h1 class="welcome">Welcome to NOMS.</h1>
</div>
<div>
    <h4 class="description">The food website for Harvard  college students.</h4>
</div>

<hr>
<div>
    <button class="btn btn-primary"><a href="{{ random_recipe['url'] }}">Give me a random recipe!</a></button>
</div>
<hr>
<div class="about">
    <p>Search for simple <a href=/recipes>recipes</a> with ingredients from your pantry.</p>
    <p>Explore students' favorite Cambridge <a href=/restaurants>restaurants</a>.</p>
    <p>Save your <a href=/favorites>favorite</a> recipes and restaurants to enjoy later.</p>
    <p>See what the dining halls are <a href=/huds>serving</a> this week.</p>
</div>
{% endblock %}
