{% extends "layout.html" %}

{% block title %}
    Search Ingredients
{% endblock %}

{% block main %}
<form action="/recipes" method="post">
    <h1>Select Ingredients</h1>
    <ul class="navbar-nav me-auto mt-2">
    <div class="mb-3">
        {% for ingredient in ingredients %}
        <input name="ingredient" type="checkbox" value="{{ ingredient['ingredient_name'] }}"> {{ ingredient['ingredient_name'] }}
        {% endfor %}
    </div>
    </ul>
    <button class="btn btn-primary" type="submit">Show me recipes!!</button>
</form>

{% endblock %}
