{% extends "layout.html" %}

{% block title %}
    Search Ingredients
{% endblock %}

{% block main %}
<form action="/recipes" method="post">
    <h1>Select Ingredients</h1>
    <ul class="navbar-nav me-auto mt-2">
        {% for ingredient in ingredients %}
        <div class="mb-3">
            <input name="ingredient" type="checkbox" value="{{ ingredient }}"> {{ ingredient }}
        </div>
        {% endfor %}
    </ul>
    <button class="btn btn-primary" type="submit">Show me recipes!!</button>
</form>

{% endblock %}
